ROBO_BACKEND_HOST=127.0.0.1
ROBO_BACKEND_PORT=8100
ROBO_PI_WS_URL=ws://robo.local:8000/ws
ROBO_PI_HTTP_URL=http://robo.local:8000
ROBO_ML_URL=http://127.0.0.1:8200
ROBO_WHEP_URL=http://robo.local:8889/cam/whep
ROBO_VIEWER_URL=http://robo.local:8889/cam
ML_STREAM_ID=pi-cam
ROBO_MODEL_ID=fire-smoke-v8n
ROBO_IR_BLOCKED_VALUE=0
ROBO_MOTION_CALIBRATED=true
ROBO_AUTO_CALIBRATED=false
ROBO_ALLOW_SIMULATION=false
ROBO_SPEECH_ENABLED=true
